:root {
    --baloobhai: 'Baloo Bhai 2', cursive;
    --quicksand: 'Quicksand', sans-serif;
    --yellow: #f6e300;
    --orange: #e16d00;
    --dark-orange: #cd6402;
    --light-blue: #c2e2ff;
    --light-pink: #fff5dd;
    --light-purple: #fcdcdd; 
    --light-green: #cff69c;
    --purple:#e1187f;
    --title-color: #32355d;
} 

/* font-family: 'Baloo Bhai 2', cursive;
font-family: 'Quicksand', sans-serif; */
body {
    font-family: var(--quicksand);
    margin: 0;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--baloobhai);
    font-weight: bolder;
}
.text-12 {
    font-size: 12px;
}
.text-14 {
    font-size: 14px;
}
.text-15 {
    font-size: 15px;
}
.text-16 {
    font-size: 16px;
}
.text-18 {
    font-size: 18px;
}
.text-19 {
    font-size: 19px;
}
.text-20 {
    font-size: 20px;
}

.text-22 {
    font-size: 22px;
}


.text-dark-orange {
    color: var(--orange)
}

.text-muted-1 {
    color: #8895c4;
}
.text-muted-2 {
    color: #676258;
}
.baloobhai {
    font-family: var(--baloobhai);
}

.bg-dark-orange {
    background-color: var(--dark-orange);
}
.bg-orange-mild-black {
    background-color: #c26a19;
}
.bg-purple {
    background-color: var(--purple);
}
.bg-purple-dark {
    background-color: #ba156a;
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-light-blue {
    background-color: var(--light-blue);
}
.bg-light-pink {
    background-color: var(--light-pink);
}
.bg-light-purple {
    background-color: var(--light-purple);
}
.bg-light-green {
    background-color: var(--light-green);
}
.buttons:hover {
    top: -3px;
    transition: 2s;
}

.main-header {
    border-bottom: 2px dashed var(--yellow);
}


.logo img {
    height: 80px;
    width: 70px;
}
.search-input {
    width: 400px;
    margin-left: 45px;
    border-radius: 100px;
}


.search-input .rad {
    border-radius: 10px;
    height: 45px;
    border: transparent;
}
.search {
    background-color: #f8f8f8;
    font-size: 14px;
}


.has-search .form-control {
    padding-right: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: rgb(85, 82, 82);
}

.buy-online {
    
    color: black;
}
.buy-online:hover{
    text-decoration: none;
    color: var(--dark-orange);
}


.nav li a {
    text-decoration: none;
    color: black;
} 

.main-menu ul li a:hover {
    background-color:var(--dark-orange);
    color: white;
}

.social-icon ul li a {
    margin-left: -20px;
}

.social-icon ul li a:hover {
    color: var(--dark-orange);
}

.main-menu ul li a {
    font-size: 16px;
}
 
.herobanner img {
    position: relative;
    background-size: cover;
    height:90vh;
    width: 100%;
    z-index: -1;
}

.hero-content {
    margin-top: -465px;
}



h1 {
    font-size: 42px;
    font-weight: bolder;
}

.title {
    font-size: 34px;
    font-weight: 900;
    /* text-align: center; */
}

.main-text-color {
    color: var(--title-color);
    font-weight: bolder;
}

.buttons {
    height: 8vh;
    width: 200px;
    white-space: normal !important;
    word-wrap: break-word;
    align-content: center;
    font-size: 16px;
    font-family: var(--baloobhai);
}
.btn-1 {
    width: 130px;
}

/* explore */
.explore {
    position: relative;
    margin-top: 280px;
}

.carousel-indicators {
    position: relative;
    top: 60px;
}
.carousel-indicators li{
    height: 6px;
    border-radius: 12px;
    background-color: #dee1e6;
    margin-left:10px;
    padding-left: 65px;

}
.explore-carousel .active{
    background-color: #0b78c4;
}

.explore-card {
    padding: 10px;
    border-radius: 13px;
}
.explore-body-blue {
    border: 1px dashed #0b78c4;
}
.explore-body-pink {
    border: 1px dashed #e4a50d;
}
.explore-body-purple {
    border: 1px dashed #f8a2a5;
}
.explore-body-purple {
    border: 1px dashed #f8a2a5;
}
.explore-body-green {
    border: 1px dashed #9edf49;
}

.explore-image {
    height: 40px;
    width: 40px;
}

/* inquire */
.inquire {
    margin-top: 100px;
}
.inquire img {
    position: relative;
}
.inquire-content {
    position: relative;
    top: -435px;
}

/* products */
.products {
    position: relative;
    top:-300px;
    
}
.products img {
    position: relative;
    z-index: -1;
}

.products-content {
    position: relative;
    top:-780px;
}
.product-description {
    margin-top: 100px;
    border-radius: 10px;
}
.product-description img {
    position: relative;
    z-index: 1;
}
.product-image  {
    position: relative;
    margin-top: -175px ;
    width: 300px;
}
.product-carousel .active{
    background-color: #96d248;
}
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  font-weight: bolder;
}

/* Create an active/current tablink class */
.tab button.active {
    font-weight: bolder;
    color: var(--title-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.blogs {
    position: relative;
    top:-750px;
}
.blog-main {
    border-radius: 10px;
}

.blog-img img {
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
}


 .blog-indicator li {
    margin-top: -115px;
    width: 10px;
    height: 10px;
    padding: 2px;
    background-color: #ddc2b8;
    border-radius: 50%;
}
.blog-indicator li.active {
    background-color: white;
}

.blog-item {
    border-radius: 10px;
}
.blog-item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dashed-bottom-pink {
    border-bottom: 2px dashed #e4a50d;
   
}
.dashed-bottom-purple {
    border-bottom: 2px dashed #f8a2a5;
   
}
.dashed-bottom-green {
    border-bottom: 2px dashed #9edf49;
   
}



footer {
    position: relative;
    margin-top: -700px;
    border-top: 2px dashed var(--yellow);
    height: -100vh;
}

.footer-nav li a {
    margin-top: -10px;
    margin-left:-14px;
}

.footer-navs li a {
    margin-top: -5px;
    margin-left:-14px;
}
.foot
.nav-item
.nav-link {
    font-size: 14px;
}
.nav-item .footer-icon {
    height: 46px;
    width: 46px;
    border-radius: 23px;
}

@media screen and (max-width: 1220px) { 
    .blog-img img {
       border-top-right-radius: 0px ;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
@media screen and (max-width: 991px) { 
    .search-input {
        width: 100%;
        margin-left: 0px;
        border-radius: 100px;
    }

    .herobanner img {
        position: relative;
        object-fit: cover;
        height:100vh;
        width: 100%;
        z-index: -1;
    }
    
    .inquire{
        background-color: #dadaf7;
    }
    .inquire-content {
        position: relative;
        top: 0px;
        /* left: 170px; */
    }
    .inquire-content{
        z-index: 1;
    } 
    .inquire img {
        object-fit: cover;
        display: none;
    }
    .products-content {
        position: relative;
        top:-600px;
    }
    .bgproducts {
        position: relative;
        object-fit: cover;
        height:150vh;
        width: 100%;
    }
   

   
    
}